header > div.container-fluid {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000; }

section div.header-bg {
  background-color: #000;
  height: 5rem; }

section div.sec-top {
  background-color: #000;
  margin-top: 0.5rem; }

section div.sec-middle > div.middle-vip {
  background-color: #202020;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center; }

section div.sec-middle > div.middle-vip > div > p {
  color: #aaa;
  margin-bottom: 0; }

section div.sec-middle > div.middle-vip > div > p:first-child {
  height: 2rem;
  background: url("../templates/cn/images/about_img3.jpg") top center no-repeat; }

section div.sec-middle > div.middle-vip > div > p.vip {
  color: #fff;
  font-size: 26px; }

section div.sec-middle > div.middle-vip > div > p:last-child {
  display: inline-block;
  width: 8rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #666; }

section div.sec-middle > div.middle-core {
  background-color: #000; }

section div.sec-middle > div.middle-core > div > a {
  width: 8rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  color: #ddd;
  font-size: 18px; }

section div.sec-middle > div.middle-core > div > a:hover {
  text-decoration: none;
  background-color: #202020;
  border-bottom: 2px solid #fff;
  color: #fff; }

section div.sec-middle > div.middle-core > div > a:focus {
  text-decoration: none;
  background-color: #202020;
  border-bottom: 2px solid #fff;
  color: #fff; }

section div.sec-middle > div.middle-core > div.cor-middle > div {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 4rem;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  color: #aaa; }

section div.core {
  padding: 0 8rem; }
  section div.core > div > div > input[type=text] {
    width: 100%;
    height: 3rem;
    margin: 1rem 0;
    padding-left: 1rem;
    background-color: #000;
    color: #666;
    outline: 0;
    border: 1px solid #666; }
  section div.core > div > div > textarea {
    margin: 1rem 0;
    padding-left: 1rem;
    background-color: #000;
    color: #666; }
  section div.core > div > div > input:hover, section div.core > div > div > textarea:hover {
    cursor: pointer; }
  section div.core > div > div > input:focus, section div.core > div > div > textarea:focus {
    border-color: rgba(0, 123, 255, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
  section div.core > div > div > a {
    height: 3rem;
    background-color: #4d4d4d;
    margin: 1rem 0;
    color: #fff;
    line-height: 3rem;
    text-decoration: none; }
  section div.core div > div > div.use, section div.core div > div > div.gender {
    height: 3rem;
    border: 1px solid #666;
    margin: 1rem 0;
    line-height: 3rem;
    padding-left: 1rem;
    color: #aaa; }

section div.core-bt {
  display: none; }

section div.core-bt:target {
  display: block; }

@media screen and (max-width: 991px) {
  section div.header-bg {
    height: 9rem; }
  section div.sec-top {
    margin-top: 0; } }
